@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
* {
  font-family: 'Noto Sans';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  background-color: #4f4cb1;
  color: #fff;
}
.line {
  height: 8px;
  background-image: url('../IMG/blue_red_line.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container {
  width: 100vw;
}
.header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4f4cb1;
  height: 70px;
}
.header .nav .logo {
  height: 70px;
  padding-left: 30px;
}
.header ul {
  margin: 0 auto;
  padding-right: 90px;
  display: flex;
  font-size: 18px;
  font-weight: 700;
}
.header ul li {
  margin-right: 100px;
}
.header .nav li:hover {
  color: black;
}
.header .nav .bars {
  font-size: 30px;
  z-index: 10;
  color: #fff;
  display: none;
}
.head_banner {
  position: relative;
  height: 700px;
}
.head_banner video {
  width: 100vw;
  z-index: -100;
  position: fixed;
  top: 0;
}
.header .head_banner img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section1_01 .content {
  padding-top: 130px;
  display: flex;
  background-color: #4f4cb1;
}
.section1_01 .content .imgbox {
  position: relative;
}
.section1_01 .content img {
  width: 100%;
  display: block;
}
.section1_01 .text {
  position: absolute;
  top: 56%;
  left: 75%;
  transform: translate(-50%, -50%);
}
.section1_01 .text h1 {
  font-weight: 400;
  font-size: 34px;
  line-height: 64px;
  margin-bottom: 50px;
  opacity: 80%;
  letter-spacing: 0.02em;
}
.section1_01 .text h2 {
  font-weight: 600;
  font-size: 62px;
  padding-bottom: 10px;
}
.section1_01 .text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 40px;
  opacity: 80%;
}
.section1_01 button {
  width: 180px;
  height: 60px;
  background-color: #fff;
  border: none;
  font-weight: 700;
  font-size: 19px;
  color: #4f4cb1;
}
.section1_01 button:hover {
  border: 1px solid #fff;
  color: #fff;
  background-color: #4f4cb1;
}
/* .section2 */
.section1_02 {
  background-color: #4f4cb1;
}
.section1_02 .content_box {
  width: 1140px;
  margin: 0 auto;
  text-align: center;
  padding-top: 130px;
}
.section1_02 .content_box h1 {
  text-align: center;
  /* margin-top: 130px; */
  padding-bottom: 50px;
  font-weight: 500;
  font-size: 36px;
}
.section1_02 .content_box img {
  padding-bottom: 130px;
  display: inline-block;
}
.section1_02 .content_box h2 {
  padding-bottom: 30px;
  font-weight: 500;
  font-size: 26px;
}
.section1_02 .content_box p {
  padding-bottom: 100px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  opacity: 50%;
}
.section1_02 .content {
  height: 435px;
  display: block;
  justify-content: center;
  margin-bottom: 30px;
  position: relative;
}
.section1_02 .content .bg {
  position: absolute;
  bottom: -10;
  right: 50%;
  transform: translateX(50%);
  width: 100%;
}
.section1_02 .content .top {
  display: flex;
  padding-top: 44px;
  justify-content: center;
  gap: 420px;
  font-weight: 400;
  font-size: 24px;
  opacity: 70%;
}
.section1_02 .content .bottom p {
  font-size: 26px;
  opacity: 100%;
}
.section1_02 .content .bottom {
  position: absolute;
  top: 350px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 630px;
  font-weight: 500;
}
.section1_02 .footnote {
  font-weight: 600;
  font-size: 19px;
  margin-bottom: 70px;
}
.section1_03 {
  background-color: #4f4cb1;
}
.section1_03 .content {
  width: 1140px;
  margin: 0 auto;
  text-align: center;
}
.section1_03 .content h1 {
  padding-top: 130px;
}
.section1_03 .content .slide {
  position: relative;
}
.slide .next {
  position: absolute;
  top: 50%;
  right: -30px;
  font-size: 2em;
  color: gray;
  cursor: pointer;
}
.slide .prev {
  position: absolute;
  top: 50%;
  left: -30px;
  font-size: 2em;
  color: gray;
  cursor: pointer;
}
.slide_02 p {
  margin-bottom: 10px;
  margin-top: 20px;
  font-weight: 00;
  font-size: 16px;
  line-height: 22px;
}
.slide_02 .min {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  opacity: 50%;
}
.section1_03 .content h1 {
  padding-bottom: 50px;
  font-weight: 500;
  font-size: 36px;
}
.section1_03 .content ul {
  display: flex;
  justify-content: space-between;
}

.slide_01 {
  padding: 130px 0;
}
.slide_01 .item {
  background-color: #4f4cb1;
  width: 100vw;
  height: 30vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide_01 .item.item_01 {
  background-image: url('../IMG/mealtimes_banner.png');
}
.slide_01 .item.item_02 {
  background-image: url('../IMG/image\ 29.png');
}
/* // */
.footer {
  background-color: #4f4cb1;
  padding-top: 100px;
}
.footer_top {
  width: 100vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
}
.footer_top .logo {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0%;
  padding: 20px;
}
.footer_top .logo img {
  width: 40px;
  margin-right: 36px;
}
.footer .line {
  margin-bottom: 30px;
  width: 100vw;
}
.footer_bottom .text {
  width: 100vw;
  margin: 0 auto;
  display: flex;
  gap: 60px;
  justify-content: center;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 18px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}
.footer_bottom h1 {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  padding-bottom: 100px;
}

/* sub_01 */
.section2_01 .content {
  position: relative;
  height: 800px;
  background-image: url('../IMG/sub_split.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section2_01 .content .box {
  width: 1140px;
  height: 1px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.section2_01 .right {
  position: absolute;
  top: 0;
  margin-right: 30px;
  display: flex;
  margin: 0 auto;
  padding-top: 38px;
  margin-bottom: 110px;
  line-height: 50px;
  align-items: center;
  opacity: 80%;
}
.section2_01 .right img {
  margin-right: 30px;
  height: 36px;
}
.section2_01 .right h1 {
  font-weight: 500;
  font-size: 20px;
}
.section2_01 .left {
  position: absolute;
  right: 0;
  bottom: -800px;
}
.section2_01 .left h1 {
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;
  margin-bottom: 60px;
  margin-right: 150px;
}
.section2_01 .left h1 span {
  font-weight: 500;
  font-size: 50px;
}
.section2_01 .left p {
  opacity: 70%;
  font-weight: 400;
  font-size: 16px;
  text-align: right;
  margin-bottom: 30px;
}
.section2_02 {
  /* width: 100vw; */
  width: 1140px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 500px;
}
.section2_02 .content_t {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 110px;
  margin-top: 130px;
}
.section2_02 .content_t h1 {
  font-weight: 500;
  font-size: 36px;
}
.section2_02 .content_t > ul {
  display: flex;
  width: 342px;
  justify-content: space-between;
}
.section2_02 .content_t > ul > li {
  font-weight: 400;
  font-size: 24px;
  opacity: 80%;
}
.section2_02 .content_t > ul > li:hover {
  opacity: 100%;
}
.section2_02 .content_bt > ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
  text-align: center;
}
.section2_02 .content_bt > ul p {
  margin-top: 30px;
  font-weight: 400;
  font-size: 26px;
  opacity: 70%;
}
.section2_02 .content_bt > ul > li {
  height: 500px;
}
.section2_02 .content_bt > ul > li:hover p {
  opacity: 100%;
}
.section2_02 .page_number > .text {
  width: 270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 22px;
  opacity: 50%;
  position: absolute;
  bottom: -200px;
  left: 436px;
}
/* .section3 */
.section3_01 {
  position: relative;
}
.section3_01 > img {
  width: 100vw;
  display: block;
}
.section3_01 .content > img {
  /* position: absolute; */
  /* top: -5px; */
  left: 0;
  display: block;
}
.section3_01 .top_menu {
  display: flex;
  width: 1140px;
  margin: 0 auto;
  padding-top: 36px;
  margin-bottom: 110px;
  line-height: 36px;
  opacity: 80%;
}
.section3_01 .top_menu img {
  margin-right: 30px;
  height: 36px;
}
.section3_01 .top_menu pre {
  font-weight: 500;
  font-size: 20px;
}
.section1_03 .sub_02 {
  margin-top: 130px;
  margin-bottom: 200px;
}
.section3_02 > .content_t,
.section3_02 > .content_bt {
  width: 1140px;
  margin: 0 auto;
}
.section3_02 > .content_t {
  display: flex;
  justify-content: space-between;
  height: 940px;
  margin-top: 130px;
  margin-bottom: 100px;
}
.section3_02 > .content_t > img {
  width: 568px;
  height: 860px;
}
.section3_02 > .content_t > h1 {
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
}
.section3_02 > .content_t > h1 span {
  font-weight: 800;
  font-size: 45px;
  line-height: 120px;
  opacity: 60%;
}
.ingredient ul li {
  background-image: url('../IMG/sub_02_circle.png');
  width: 200px;
  height: 200px;
  margin-bottom: 30px;
  position: relative;
}
.ingredient ul li > h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #4f4cb1;
  font-weight: 900;
  font-size: 65px;
}
.ingredient ul li p {
  position: absolute;
  top: 70%;
  left: 60%;
  transform: translate(-50%, -50%);
  color: #4f4cb1;
  font-size: 15px;
  line-height: 16px;
  font-weight: 600;
}
.section3_02 .line_02 {
  width: 100vw;
}
.section3_02 > .content_bt h1 {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 28px;
  opacity: 60%;
}

.section3_02 > .content_bt h2 {
  font-weight: 600;
  font-size: 64px;
  margin-bottom: 70px;
}

.section3_02 > .content_bt ul {
  display: flex;
  margin-bottom: 100px;
  opacity: 80%;
}
.section3_02 > .content_bt ul li h3 {
  font-weight: 100;
  font-size: 26px;
  line-height: 50px;
  opacity: 60%;
}
.section3_02 > .content_bt ul .top h3 {
  font-weight: 400;
  font-size: 22px;
  line-height: 50px;
  opacity: 100%;
  margin-right: 90px;
}
.section3_02 > .content_bt p {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 31px;
  color: rgba(255, 255, 255, 0.7);
}
.section3_02 > .content_bt button {
  width: 180px;
  height: 60px;
  background-color: #fff;
  color: #4f4cb1;
  font-weight: 600;
  font-size: 19px;
  line-height: 41px;
  margin-bottom: 200px;
  border: none;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
  .header .nav {
    height: 60px;
    display: flex;
    align-items: center;
  }

  .header ul {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100vw;
    height: 100%;
    background-color: #4f4cb1;
    flex-direction: column;
    gap: 60px;
    font-size: 30px;
    transition: left 0.3s;
    z-index: 2;
    padding: 60px 0;
    align-items: center;
  }
  .header ul.active {
    left: 0;
  }
  .header ul li {
    margin: 0;
  }
  .header .nav .bars {
    width: 50px;
    display: block;
    z-index: 10;
  }
  .header .nav .logo {
    height: 50px;
    padding-left: 20px;
  }
  .head_banner {
    position: relative;
    height: 20vh;
  }
  .header .head_banner img {
    width: 50vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .section1_01 .content {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .section1_01 .content .imgbox {
    position: relative;
  }
  .section1_01 .content img {
    width: 100vw;
  }
  .section1_01 .text {
    position: absolute;
    top: 50%;
    left: 76%;
    transform: translate(-50%, -50%);
  }
  .section1_01 .text h1 {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .section1_01 .text h2 {
    font-size: 14px;
    padding-bottom: 20px;
  }
  .section1_01 .text p {
    display: none;
  }
  .section1_01 button {
    width: 100px;
    height: 40px;
    font-size: 12px;
  }
  .section1_01 button:active {
    background-color: #4f4cb1;
    border: 1px solid #fff;
    color: #fff;
  }
  .section1_02 > img {
    display: block;
    padding: 50px 0;
    width: 100vw;
  }

  .section1_02 .content_box {
    width: 100%;
    background-color: #4f4cb1;
  }
  .section1_02 .content_box h1 {
    font-weight: 700;
    font-size: 40px;
  }
  .section1_02 .content_box img {
    padding-bottom: 10px;
    width: 90vw;
  }
  .section1_02 .content_box h2 {
    padding-bottom: 40px;
    font-weight: 500;
    font-size: 16px;
  }
  .section1_02 .content_box p {
    padding-bottom: 70px;
    width: 80vw;
    margin: 0 auto;
    font-size: 12px;
    line-height: 24px;
  }
  .section1_02 .content {
    position: relative;
    margin: 0 auto;
    height: 100px;
    margin-bottom: 30px;
  }
  .section1_02 .content .bg {
    width: 40%;
    top: -30%;
  }
  .section1_02 .content .top {
    /* display: none; */
    top: 0;
    left: 0;
  }
  .section1_02 .content .top {
    display: none;
  }
  .section1_02 .content .bottom p {
    display: flex;
    font-weight: 700;
    font-size: 30px;
    opacity: 100%;
  }
  .section1_02 .content .bottom .p1 {
    display: none;
  }
  .section1_02 .content .bottom .p2 {
    display: none;
  }
  .section1_02 .footnote {
    font-weight: 600;
    font-size: 19px;
    padding: 50px 0;
  }
  .section1_02 .footnote img {
    padding: 50px 0;
  }
  .section1_03 .content {
    width: 100vw;
    margin: 0 auto;
    text-align: center;
  }
  .slide_01 {
    padding: 30px 0;
  }
  .footer {
    padding-top: 0px;
    width: 100vw;
  }
  .footer_top {
    width: 100vw;
  }
  .footer_top > img {
    width: 80px;
  }
  .footer_top .logo {
    padding: 0;
  }
  .footer_top .logo img {
    padding: 10px;
    width: 15vw;
  }
  .footer_top .logo img {
    width: 40px;
    margin-right: 10px;
  }

  .footer > img {
    margin-bottom: 10px;
    width: 100vw;
  }
  .footer_bottom .text {
    width: 100vw;
    flex-direction: column;
    font-weight: 400;
    font-size: 10px;
    margin-bottom: 10px;
    gap: 0;
  }
  .footer_bottom h1 {
    font-weight: 400;
    font-size: 12px;
    padding-bottom: 30px;
  }
  .section1_03 .content {
    width: 280px;
    margin: 0 auto;
  }
  .section1_03 .content img {
    width: 150px;
  }
  .section1_03 .content .slide {
    position: relative;
  }
  .slide .next {
    font-size: 1.5em;
  }
  .slide .prev {
    font-size: 1.5em;
  }
  .slide_02 p {
    font-size: 12px;
  }
  .slide_02 .min {
    display: none;
  }

  .section2_01 .content {
    height: 400px;
  }
  .section2_01 .content .box {
    width: 90%;
  }
  .section2_01 .right {
    padding-top: 20px;
    line-height: 30px;
  }
  .section2_01 .right img {
    margin-right: 10px;
    height: 20px;
  }
  .section2_01 .right h1 {
    font-size: 12px;
  }
  .section2_01 .left {
    right: 0;
    top: 50%;
    transform: translateY(30%);
    text-align: right;
  }
  .section2_01 .left h1 {
    font-size: 16px;
    margin-right: 0;
  }
  .section2_01 .left h1 span {
    font-size: 40px;
  }
  .section2_01 .left p {
    display: none;
  }
  .section2_02 {
    width: 96%;
    padding: 4px;
    margin-bottom: 30px;
  }
  .section2_02 .content_t {
    margin-bottom: 20px;
    margin-top: 30px;
  }
  .section2_02 .content_t h1 {
    font-size: 20px;
  }
  .section2_02 .content_t > ul {
    width: 200px;
  }
  .section2_02 .content_t > ul > li {
    font-weight: 400;
    font-size: 18px;
  }
  .section2_02 .content_bt > ul {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .section2_02 .content_bt > ul p {
    width: 120px;
    margin: 0 auto;
    font-size: 10px;
  }
  .section2_02 .content_bt > ul > li img {
    width: 90%;
  }
  .section2_02 .content_bt > ul > li {
    height: 130px;
    width: 130px;
  }

  .section2_02 .page_number > .text {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .section3_01 > img {
    width: 100vw;
    display: block;
  }
  .section3_01 .content > img {
    /* position: absolute; */
    /* top: -5px; */
    left: 0;
    display: block;
  }
  .section3_01 .top_menu {
    display: flex;
    width: 1140px;
    margin: 0 auto;
    padding-top: 36px;
    margin-bottom: 110px;
    line-height: 36px;
    opacity: 80%;
  }
  .section3_01 .top_menu img {
    margin-right: 30px;
    height: 36px;
  }
  .section3_01 .top_menu pre {
    font-weight: 500;
    font-size: 20px;
  }
  .section1_03 .sub_02 {
    margin-top: 130px;
    margin-bottom: 200px;
  }
  .section3_02 > .content_t,
  .section3_02 > .content_bt {
    width: 1140px;
    margin: 0 auto;
  }
  .section3_02 > .content_t {
    display: flex;
    justify-content: space-between;
    height: 940px;
    margin-top: 130px;
    margin-bottom: 100px;
  }
  .section3_02 > .content_t > img {
    width: 568px;
    height: 860px;
  }
  .section3_02 > .content_t > h1 {
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
  }
  .section3_02 > .content_t > h1 span {
    font-weight: 800;
    font-size: 45px;
    line-height: 120px;
    opacity: 60%;
  }
  .ingredient ul li {
    background-image: url('../IMG/sub_02_circle.png');
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
    position: relative;
  }
  .ingredient ul li > h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #4f4cb1;
    font-weight: 900;
    font-size: 65px;
  }
  .ingredient ul li p {
    position: absolute;
    top: 70%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: #4f4cb1;
    font-size: 15px;
    line-height: 16px;
    font-weight: 600;
  }
  .section3_02 .line_02 {
    width: 100vw;
  }
  .section3_02 > .content_bt h1 {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 28px;
    opacity: 60%;
  }

  .section3_02 > .content_bt h2 {
    font-weight: 600;
    font-size: 64px;
    margin-bottom: 70px;
  }

  .section3_02 > .content_bt ul {
    display: flex;
    margin-bottom: 100px;
    opacity: 80%;
  }
  .section3_02 > .content_bt ul li h3 {
    font-weight: 100;
    font-size: 26px;
    line-height: 50px;
    opacity: 60%;
  }
  .section3_02 > .content_bt ul .top h3 {
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    opacity: 100%;
    margin-right: 90px;
  }
  .section3_02 > .content_bt p {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 31px;
    color: rgba(255, 255, 255, 0.7);
  }
  .section3_02 > .content_bt button {
    width: 180px;
    height: 60px;
    background-color: #fff;
    color: #4f4cb1;
    font-weight: 600;
    font-size: 19px;
    line-height: 41px;
    margin-bottom: 200px;
    border: none;
  }
}
